.contact {
  box-shadow: 0px 0px 49px -4px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 0px 0px 49px -4px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 0px 0px 49px -4px rgba(0, 0, 0, 0.99);
}

@media (max-width: 767px) {
  .contact {
    box-shadow: none;
    -webkit-box-shadow: none;

    -moz-box-shadow: none;
  }
}
