---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Lynx">
    <section class="px-6">
        <h2 class="mx-auto font-inter">About the ex.iphones.</h2>
    </section>
</Layout>