---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import aboutIphone from '../../public/images/about-iphone.png'
import aboutProfile from '../../public/images/about-profile.png'
import Navbar from '../islands/navbar.svelte'

const infoAbout = [
  {
    title: 'Who ex.iphones. started',
    content:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula sed velit a faucibus. In feugiat vestibulum velit vel pulvinar. Fusce id mollis ex. Praesent feugiat elementum ex ut suscipit.',
  },
  {
    title: 'Things we take for granted',
    content:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula sed velit a faucibus. In feugiat vestibulum velit vel pulvinar. Fusce id mollis ex. Praesent feugiat elementum ex ut suscipit.',
  },
  {
    title: 'Future of ex.iphones.',
    content:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula sed velit a faucibus. In feugiat vestibulum velit vel pulvinar. Fusce id mollis ex. Praesent feugiat elementum ex ut suscipit.',
  },
  {
    title: 'Something nobody knows about us',
    content:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula sed velit a faucibus. In feugiat vestibulum velit vel pulvinar. Fusce id mollis ex. Praesent feugiat elementum ex ut suscipit.',
  },
]
---

<Layout title="About - Lynx">
  <Navbar client:load />
  <section class="px-2 bg-gray min-h-screen">
    <h2 class="mx-auto font-inter text-6xl font-semibold text-gray-dark pt-32 block text-center">
      About the ex.iphones.
    </h2>
    <div class="flex items-center justify-center gap-x-8 text-center my-6 w-max mx-auto">
      <figure class="flex justify-center items-center gap-x-4">
        <Image src={aboutProfile} alt="Teams Lynx cop" />
        <figcaption class="font-semibold font-inter text-gray-dark">Feyz ibrahim</figcaption>
      </figure>
      <h5 class="font-inter text-gray-dark px-4 py-2 border-l-2 border-gray-dark border-opacity-30">
        20 Septiembre 2023
      </h5>
    </div>
    <h5 class="my-4 font-inter text-balance text-center text-gray-dark">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio. Nulla at
      congue diam, at dignissim turpis. Ut vehicula sed velit a faucibus. In feugiat vestibulum
      velit vel pulvinar.
    </h5>
    <figure class="w-full flex justify-center items-center my-6">
      <Image src={aboutIphone} alt="Lynx description tags dev" />
    </figure>

    {
      infoAbout.map((inf) => (
        <article class="px-6 py-10 max-w-6xl mx-auto">
          <h2 class="font-inter font-semibold text-gray-dark text-2xl mb-4">{inf.title}</h2>
          <p class="font-inter text-balance font-normal">{inf.content}</p>
        </article>
      ))
    }
  </section>
</Layout>
