---
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.svelte'
---

<Layout title="Welcome to Astro.">
  <main>
    
    <Button client:only="svelte" >Hola mundo</Button>
  </main>
</Layout>



