---
import Layout from '../layouts/Layout.astro'
  import Button from '../components/button.svelte'
---

<Layout title="Welcome to Astro.">
  <main>
    <Button client:only="svelte">Hola mundo</Button>
  </main>
</Layout>
