@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.gradient-left-to-right {
  background: linear-gradient(
    90deg,
    rgba(245, 241, 241, 0.05) 0%,
    rgba(155, 151, 151, 0.199) 100%
  );
}

.scale-in-tr {
  -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-tr {
  -webkit-animation: scale-out-tr 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-out-tr 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.scale-out-tr {
  -webkit-animation: scale-out-tr 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: scale-out-tr 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes scale-out-tr {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

.rotate-out {
  -webkit-animation: rotate-out 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-out 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(290deg);
  }
}

.bgHome {
  background-color: black;
  fill: linear-gradient(155deg, #383638 2.06%, #0b0b0b 33.08%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
