---
import { Image } from 'astro:assets'
import ImagenLogin from '../../public/images/imageAuth.svg'
---

<section class="flex flex-col md:flex-row justify-around bg-[#F5F5F7] mb-5">
  <figure class="md:w-[300px] lg:w-[500px] hidden md:flex">
    <Image src={ImagenLogin} alt="Imagen Login" />
    <slot />
  </figure>
</section>
